/* Importation de la police Poppins depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Réinitialisation des styles et définition de la police par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Styles généraux pour le corps de la page */
body {
    background: #efe4e4;
}

/* Styles pour la barre de navigation */
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
    height: 120px;
    z-index: 100;
}

.left_nav {
    display: flex;
    gap: 50px;
}


.nav_logo {
    display: flex;
    align-items: center;
}

.nav_logo img {
    width: 100px;
}

.nav_menu ul {
    display: flex;
    flex-direction: row;
}

ul li {
    position: relative;
    list-style: none;
    margin: 0 30px;
}

.link {
    text-decoration: none;
    padding: 10px 0;
    color: #000;
    font-size: 15px;
    font-weight: 500;
}

.nav_menu .link_border {
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 43px;
    left: 0;
    background: #000;
    transition: .4s ease-in-out;
}

.nav_menu ul li a:hover ~ .link_border {
    width: 30px;
}

.nav_dropdown_menu {
    display: none;
}

.shopping_cart_link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.right_nav {
    display: flex;
    gap: 50px;
}

.nav_cart_box {
    display: none;
}

.menu_bars {
    display: flex;
    align-items: center;
}

.menu_bars_btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    cursor: pointer;
}

.menu_bars_btn img {
    width: 30px;
}

.bar_1, .bar_2 {
    transition: .3s ease-in-out;
}

.menu_bars_btn:hover .bar_1 {
    margin-left: 5px;
}

.menu_bars_btn:hover .bar_2 {
    margin-right: 10px;
}

/* Styles pour les éléments du corps de la page */
.item_1 img {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 10;
}

.item_2 img {
    position: fixed;
    left: 50%;
    top: 50%;
    opacity: 0.1;
    transform: translate(-50%, -50%) rotate(-5deg);
    max-width: 1000px;
    width: 100%;
    z-index: 20;
}

.just_do_it p {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translate(-50%, -50%);
    width: 200px;
    line-height: 100px;
    font-size: 100px;
    font-weight: 600;
    opacity: 0.1;
    z-index: 100;
}

.main {
    position: relative;
    display: flex;
    z-index: 100;
}

.left_col {
    width: 50%;
    padding-left: 70px;
    padding-top: 40px;
}

.left_col .shoe_title p {
    font-size: 4.2vw;
    font-weight: 600;
    letter-spacing: 7px;
}

.line hr {
    border: 1px solid #222;
    width: 200px;
    margin: 25px 0 35px 0;
}

.left_col .shoe_description p {
    font-family: 'Cascadia Code', sans-serif;
    font-weight: 300;
    line-height: 30px;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 80px 0 0;
}

.cart h2 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-left: 150px;
}

#cart-items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 150px; /* Ajouter un décalage vers la droite */
}

.shop-item-container {
    display: flex; /* Correction pour le display: flex */
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 15px #b3b3b3, -5px -5px 15px #ffffff;
    transition: all 0.3s ease-in-out;
}


.shop-item-container:hover {
    box-shadow: 2px 2px 10px #b3b3b3, -2px -2px 10px #ffffff;
}

.shoe-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoe-img {
    width: 150px;
    height: auto;
    transform: rotate(-25deg);
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.cart-item-info h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.cart-item-info p {
    font-size: 1em;
    color: #555;
}

.cart-item-remove {
    background: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-top: 10px; /* Ajouter un peu d'espace au-dessus du bouton */
}

.cart-item-remove:hover {
    background: #ff1a1a;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



.right_col {
    width: 50%;
    position: relative;
    height: 85vh;
}

.featured_img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 47vw;
    transform: translate(-70%, -70%) rotate(-35deg);
    animation: featuredImg 2s;
}

/* Styles pour la section de paiement */
.payment {
    position: absolute;
    top: 60px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Ajustement de la largeur maximale pour une meilleure adaptation */
    padding: 20px;
    background: #efe4e4; /* Couleur de fond pour l'effet neumorphisme */
    border-radius: 20px; /* Plus grande courbure pour un effet plus doux */
    box-shadow: 5px 5px 15px #b3b3b3, -5px -5px 15px #ffffff; /* Ombres pour l'effet de profondeur */
}

.payment h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.payment form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 1em;
    color: #555;
}

.form-group input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background: #e0e0e0;
    box-shadow: inset 2px 2px 5px #b3b3b3, inset -2px -2px 5px #b3b3b3; /* Ombres internes pour l'effet de relief */
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: inset 2px 2px 5px #b3b3b3, inset -2px -2px 5px #ffffff, 0 0 5px rgba(0, 123, 255, 0.5); /* Ajouter une ombre externe */
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 2px 2px 5px #b3b3b3, -2px -2px 5px #ffffff; /* Ombres pour l'effet de profondeur */
}

button[type="submit"]:hover {
    background: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
}


/* Styles pour la carte du panier */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    width: 100%;
}

.cart-item img {
    width: 80px;
    height: auto;
    border-radius: 5px;
}

.cart-item-info {
    flex: 1;
    padding: 0 20px;
}

.cart-item-info h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.cart-item-info p {
    font-size: 1em;
    color: #555;
}

.cart-item-actions {
    display: flex;
    align-items: center;
}

.cart-item-remove {
    background: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cart-item-remove:hover {
    background: #ff1a1a;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.right_col {
    width: 50%;
    position: relative;
    height: 85vh;
}

.featured_img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 47vw;
    transform: translate(-70%, -70%) rotate(-35deg);
    animation: featuredImg 2s;
}

.shopping_cart_link {
    display: none;
}
/* Media Query pour la mise en page responsive */
@media only screen and (max-width: 755px) {
    nav {
        z-index: 200;
    }

    .nav_menu {
        display: none;
    }

    .nav_dropdown_menu.responsive {
        display: flex;
    }

    .dropdown {
        position: relative;
    }

    .nav_dropdown_menu {
        position: absolute;
        top: 50px;
        right: 0;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100vh;
    }

    .nav_dropdown_menu ul {
        display: flex;
        flex-direction: column;
    }

    .nav_dropdown_menu ul li {
        margin: 0 0 50px 0;
    }

    .nav_dropdown_menu .link_border {
        display: none;
    }

    .nav_dropdown_menu.responsive {
        display: flex;
    }

    .shopping_cart_link {
        display: block;
    }

    .nav_cart_box {
        display: flex;
    }

    .menu_bars_btn:hover .bar_1 {
        margin-left: 0;
    }

    .menu_bars_btn:hover .bar_2 {
        margin-right: 0;
    }

    .left_col {
        width: 100%;
    }

    .right_col {
        display: none;
    }

    .payment {
        position: static;
        margin: 20px auto;
    }

    .payment form {
        padding: 10px;
    }

    .form-group input {
        padding: 8px;
    }

    button[type="submit"] {
        padding: 8px 16px;
        font-size: 1em;
    }
}
